---
import { Image } from 'astro:assets';
import youtube from '@img/youtube.svg'
import facebook from '@img/facebook.svg'
import twitter from '@img/twitter.svg'
import instagram from '@img/instagram.svg'
import linkedin from '@img/linkedin.svg'
---

<footer class="bg-gray-200 flex-row flex justify-center space-x-32">
    <div class="flex flex-row justify-around space-x-20">
        <h1 class="text-2xl font-gotham">Hollyvooz</h1>
        <div class="space-y-1">
            <h4 class="font-gotham">Contacto:</h4>
            <p class="font-gotham">info@hollyvooz.com</p>
            <p class="font-gotham">666666666</p>
            <p class="font-gotham">Madrid</p>
        </div>
        <div class="space-y-2">
            <h4 class="font-gotham">Products<h4>
            <p class="font-gotham">Auctor volutpat.</p>
            <p class="font-gotham">Fermentum turpis.</p>
            <p class="font-gotham">Mi consequat.</p>
            <p class="font-gotham">Amet venenatis.</p> 
        </div>
        <div class="space-y-2">
            <h4 class="font-gotham">About<h4>
            <p class="font-gotham">Auctor volutpat.</p>
            <p class="font-gotham">Fermentum turpis.</p>
            <p class="font-gotham">Mi consequat.</p>
            <p class="font-gotham">Amet venenatis.</p> 
        </div>
    </div>
    <div>
        <h4 class="font-gotham">Nuestras redes</h4>
        <div class="flex flex-row space-x-4">
            <a href=""><Image src={youtube} alt="simbolo de youtube" class="size-10"/></a>
            <a href=""><Image src={facebook} alt="simbolo de facebook" class="size-10"/></a>
            <a href=""><Image src={twitter} alt="simbolo de twitter" class="size-10"/></a>
            <a href=""><Image src={instagram} alt="simbolo de instagram" class="size-10"/></a>
            <a href=""><Image src={linkedin} alt="simbolo de linkedin" class="size-10"/></a>
        </div>
    </div>
</footer>