---
import { Image } from 'astro:assets';
import Micro from "@img/carbon_microphone-filled.svg"
---


<div class="flex flex-col  items-center gap-5 py-2 bg-adicional1">
    <h1 class="font-bold text-3xl  space-x-4 mb-8 font-gotham">Para cualquier servicio que necesites</h1>
    <div class="flex flex-row justify-center gap-32 ">
        <div>
            <div class="rounded-full border border-black w-16 mb-2"><Image src={Micro} alt="microfono negro"></Image></div>
            <p class="font-gotham">Spot TV</p>
        </div>
        <div>
            <div class="rounded-full border border-black w-16 mb-2"><Image src={Micro} alt="microfono negro"></Image></div>
            <p class="font-gotham">Cuñas</p>
        </div>
        <div>
            <div class="rounded-full border border-black w-16 mb-2"><Image src={Micro} alt="microfono negro"></Image></div>
            <p class="font-gotham">Audiovisual</p>
        </div>
        <div>
            <div class="rounded-full border border-black w-16 mb-2"><Image src={Micro} alt="microfono negro"></Image></div>
            <p class="font-gotham">Pildoras</p>
        </div>
        <div>
            <div class="rounded-full border border-black w-16 mb-2"><Image src={Micro} alt="microfono negro"></Image></div>
            <p class="font-gotham">Podcast</p>
        </div>
        <div>
            <div class="rounded-full border border-black w-16 mb-2"><Image src={Micro} alt="microfono negro"></Image></div>
            <p class="font-gotham">Audiolibro</p>
        </div>
    </div>
</div>