---
import Video from '@img/video-solid.svg'
import { Image } from 'astro:assets';
---

<div class="bg-white flex flex-col  gap-y-9 py-8">
    <div class=" ml-4 text-left gap-y-6 ml-80">
        <h4 class="text-4xl">El banco de voces mas completo y cualificado</h4>
        <p class="text-2xl w-1/3">Contamos con las mejores voces online. Nos aseguramos de que nuestros locutores....</p>
    </div>
    <div class="flex flex-row gap-28 justify-center">
        <Image class="w-1/12" src={Video} alt="Muestra de video"/>
        <Image class="w-1/12" src={Video} alt="Muestra de video"/>
        <Image class="w-1/12" src={Video} alt="Muestra de video"/>
        <Image class="w-1/12" src={Video} alt="Muestra de video"/>
        <Image class="w-1/12" src={Video} alt="Muestra de video"/>
    </div>
    <button class="border border-black w-14 mt-4 ml-80 rounded-lg"><a href="#">Casting</a></button>
</div>