---
import Spot_Boston from '@videos/Spot_Boston.webm';
import Tostarrica from '@videos/Tostarrica.webm';
import Canal_Historia from '@videos/Canal_Historia.webm';
import Just_Dance from '@videos/Just_Dance.webm';
---

<div class="flex flex-col gap-y-9 py-8 bg-adicional1">
    <div class="text-left gap-y-6 ml-80 ">
        <h4 class="text-4xl font-gotham mt-6">El banco de voces más completo y cualificado</h4>
        <p class="text-2xl w-fit font-gotham">Contamos con las mejores voces online. Nos aseguramos de que nuestros locutores....</p>
    </div>
    <div class="flex flex-row gap-28 justify-center">
        <video class="w-1/12" controls>
            <source src={Spot_Boston} type="video/webm">
        </video>
        <video class="w-1/12" controls>
            <source src={Tostarrica} type="video/webm">
        </video>
        <video class="w-1/12" controls>
            <source src={Canal_Historia} type="video/webm">
        </video>
        <video class="w-1/12" controls>
            <source src={Just_Dance} type="video/webm">
        </video>
        <video class="w-1/12" controls>
            <source src={Spot_Boston} type="video/webm">
        </video>
    </div>
    <button class="border border-black w-14 mt-4 ml-80 rounded-lg">
        <a href="#" class="font-gotham">Casting</a>
    </button>
</div>
